// Example main.scss file
body {
    font-family: Georgia, serif; /* Apply Georgia as the primary font with serif fallback */
    background-color: #f0f0f0;
}

$primary: #111111;
$secondary: #f0f0f0;

$google_font_name: 'Georgia';
$google_font_family: 'Georgia, serif';
